@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 17% 96%;
    --foreground: 240 10% 3.9%;
    --card: 255 17% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 255 17% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 255 47% 40%;
    --primary-foreground: 255 0% 98%;
    --secondary: 255 17% 93%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 255 17% 93%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 227 82% 64%;
    --accent-foreground: 227 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 17% 88%;
    --input: 255 17% 88%;
    --ring: 227 82% 64%;
    --chart-1: 255 47% 40%;
    --chart-2: 227 82% 64%;
    --chart-3: 255 47% 60%;
    --chart-4: 227 82% 84%;
    --chart-5: 255 47% 80%;
    --radius: 0.5rem;
    --sidebar-background: 255 47% 35%;
    --sidebar-foreground: 255 0% 92%;
    --sidebar-primary: 227 82% 64%;
    --sidebar-primary-foreground: 227 0% 98%;
    --sidebar-accent: 255 47% 45%;
    --sidebar-accent-foreground: 255 0% 98%;
    --sidebar-border: 255 47% 40%;
    --sidebar-ring: 227 82% 70%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 47% 50%;
    --primary-foreground: 255 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 227 82% 70%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 227 82% 70%;
    --chart-1: 255 47% 50%;
    --chart-2: 227 82% 70%;
    --chart-3: 255 47% 70%;
    --chart-4: 227 82% 90%;
    --chart-5: 255 47% 90%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 227 82% 64%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 227 82% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
